*
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}	

body
{
	justify-content: center;
	display: flex;
	color: white;
	background: black;
}

#contenedor
{
	width: 100%;
	max-width: 480px;
	flex-wrap: wrap;
}

#relleno
{
	padding: 1.5rem;
}

h1, h2, h3, h4
{
	text-align: center;
	padding: 0.5rem;
	margin: 0.5rem;
}

p
{
	padding: 1rem;
	margin: 0.5rem;
}

.videos iframe
{
	width: 100%;
}

.embebidos iframe
{
	width: 100%;
	height: 500px;
}

.banda-img img
{

	width: 100%;
}

footer
{
	text-align: center;
	background-color: black;
}

footer a 
{
	text-decoration: none;
	color: white;
	margin: 0 6rem;
	padding: 1rem;
}

/*Consulta de medios*/

@media (min-width: 1200px) and (orientation: landscape)
{
	#contenedor
	{
		max-width: 1200px;
	}

	#relleno
	{
		padding: 1.7rem;
	}

	.navbar-brand
	{
		margin: 0 13rem;
	}

	.container-fluid img
	{
		margin: 0 0.5rem;
	}

	.banda-img img
	{
		margin: 1rem 18rem;
		width: 50%;
	}

	p
	{
		padding: 0.5rem;
	}

	footer .aFooter 
	{
		margin: 0 22rem;
		padding: 1rem;
	}

	address a
	{
		margin: 0;
	}
}



